@charset "UTF-8";

body {
    background-color: rgb(196, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal {
    background-color: rgb(12, 131, 131);;
    color: white;
    text-align: center;
}
h2.titulos2 {
    color: rgb(255, 255, 255);
    background-color: aqua;

}
h1 {
    color: rgb(12, 131, 131);
}
h2 {
    color: rgb(57, 112, 94);
}